# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [97]:
import pandas as pd 
import numpy as np 
import re

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [98]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [99]:
chipo = df
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [100]:
chipo_copy = chipo
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [101]:
# Solution 1
chipo.shape[0]

4622

In [102]:
# Solution 2
chipo['item_name'].count()

4622

### Step 6. What is the number of columns in the dataset?

In [103]:
columnas = len(chipo.columns)
columnas

5

### Step 7. Print the name of all the columns.

In [104]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [105]:
chipo.index
# no entiendo muy bien a que se refiere el enunciado pero el indice es una sucession nummerica desde el 0 hasta el 4622

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [106]:
producto_count = chipo['item_name'].value_counts()
producto_count.head()

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: count, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [107]:
print(f"Se pidio {producto_count[0]} veces")

Se pidio 726 veces

### Step 11. What was the most ordered item in the choice_description column?

In [108]:
print(chipo.isnull().sum())
chipo = chipo.dropna()
print(chipo.isnull().sum())

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64
order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

In [109]:
most_ordered_item = chipo.loc[chipo['quantity'].idxmax()]
most_ordered_item

order_id                                                            511
quantity                                                              4
item_name                                               Chicken Burrito
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price                                                      $35.00
Name: 1254, dtype: object

### Step 12. How many items were orderd in total?

In [110]:
print(f"En total se pidieron {chipo['quantity'].sum()} items")

En total se pidieron 3590 items

### Step 13. Turn the item price into a float

In [111]:
chipo.loc[:, 'item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75

#### Step 13.a. Check the item price type

In [112]:
item = chipo.at[1, 'item_price']
print(f"El item es type {type(item)}")

El item es type <class 'float'>

#### Step 13.b. Create a lambda function and change the type of item price

In [113]:
cambiar_a_int = lambda x: [int(i) for i in x]
chipo['item_price'] = chipo['item_price'].apply(lambda x: int(x))
chipo.head()

C:\Users\usuario\AppData\Local\Temp\ipykernel_28220\3339869926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo['item_price'] = chipo['item_price'].apply(lambda x: int(x))

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Izze,[Clementine],3
2,1,1,Nantucket Nectar,[Apple],3
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11

#### Step 13.c. Check the item price type

In [114]:
item = chipo.at[1, 'item_price'] 
type(item)

numpy.int64

### Step 14. How much was the revenue for the period in the dataset?

In [132]:
chipo_copy['quantity'] = chipo_copy['quantity'].astype(float)
chipo_copy['item_price'] = chipo_copy['item_price'].astype(float)
chipo_copy['revenue'] = chipo_copy['quantity'] * chipo_copy['item_price']
chipo_copy.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
1,1,1.0,Izze,[Clementine],3.39,3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39,3.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75

### Step 15. How many orders were made in the period?

In [136]:
chipo_copy['order_id'].count()

3376

### Step 16. What is the average revenue amount per order?

In [137]:
# Solution 1
average_revenue = chipo_copy['revenue'].sum() / chipo_copy['order_id'].count()
average_revenue

9.953193127962084

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [141]:
len(chipo_copy['item_name'].value_counts())

38

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np 
import re

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo_2 = df
chipo_2.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [32]:
chipo_2.loc[:, 'item_price'] = chipo_2['item_price'].replace('[\$,]', '', regex=True).astype(float)
chipo_2.dropna(subset=['item_price'], inplace=True)

In [33]:
len(chipo_2[chipo_2['item_price'] > 10])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [34]:
item_prices = chipo_2[['item_name', 'item_price']].drop_duplicates()
item_prices

                                  item_name item_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
4                              Chicken Bowl      16.98
...                                     ...        ...
4237                    Chips and Guacamole        8.5
4354                       Steak Soft Tacos       18.5
4489                    Chips and Guacamole       17.8
4509                                  Chips       1.99
4510                          Barbacoa Bowl      11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [35]:

item_prices = item_prices.sort_values('item_name')
item_prices.head()

              item_name item_price
3389  6 Pack Soft Drink      12.98
298   6 Pack Soft Drink       6.49
4510      Barbacoa Bowl      11.49
3195      Barbacoa Bowl       8.69
95        Barbacoa Bowl       9.25

### Step 7. What was the quantity of the most expensive item ordered?

In [37]:
sorted_chipo = chipo_2.sort_values(by='item_price', ascending=False)
quantity_most_expensive_item = sorted_chipo.iloc[0]['quantity']
print(quantity_most_expensive_item)

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [38]:
veggie_salad_orders = chipo_2[chipo_2['item_name'] == 'Veggie Salad Bowl']
veggie_salad_count = veggie_salad_orders['quantity'].sum()
print(veggie_salad_count)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [41]:
soda_orders = chipo_2[(chipo_2['item_name'] == 'Canned Soda') & (chipo_2['quantity'] > 1)]
soda_count = len(soda_orders)
print(soda_count)

20