# Lab 8.4

### Hipotesis nula:

las categorias son todas iguales

### Hipotesis alternativa:

Las categorias tienen diferencias considerables

### Nivel de significancia:

El nivel de significancia es de 0.05

### Grados de Libertad del Modelo (Model DoF):

Tenemos 15 grados de libertad

In [88]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

In [89]:
data = pd.read_excel('Data/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 372.0+ bytes

In [91]:
data.describe()

       Etching Rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [92]:
data.keys()

Index(['Power ', 'Etching Rate'], dtype='object')

In [93]:
data.columns = [col.strip().replace(' ', '_') for col in data.columns]

data

    Power  Etching_Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [94]:
data.keys()

Index(['Power', 'Etching_Rate'], dtype='object')

In [96]:
model = ols('Etching_Rate ~ C(Power)',data=data).fit()
table = sm.stats.anova_lm(model)
print(table)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

## Pdemos decir que rechazamos la hipotesis nula ya que nos arroja un p value menor a 0.05