# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [88]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [89]:
import pandas as pd
import numpy as np

In [90]:
elteams=pd.read_csv("datasets/actual.csv")
ecteams=pd.read_excel("datasets/ec2023.xlsx", index_col=False)

In [91]:
ecteams.head()
ecteams.keys()

Index(['Unnamed: 0', 'fecha', 'ronda', 'local', 'visitante', 'localscore',
       'roadscore', 'Winner', 'Ganador', 'plusminus'],
      dtype='object')

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [92]:
# Your Code here:
print(ecteams.shape)
ecteams.drop(columns="Unnamed: 0", inplace=True)
ecteams = ecteams.dropna()
ecteams = ecteams.drop_duplicates()
print(ecteams.head())
print(ecteams.shape)

(173, 10)
                 fecha  ronda                        local  \
0  2024-01-31T21:00:00     17       Dreamland Gran Canaria
1  2024-01-31T20:00:00     17      Dolomiti Energia Trento
2  2024-01-31T19:30:00     17               ratiopharm Ulm
3  2024-01-31T18:30:00     17  Cedevita Olimpija Ljubljana
4  2024-01-31T18:00:00     17          Turk Telekom Ankara

                        visitante  localscore  roadscore     Winner  Ganador  \
0                U-BT Cluj-Napoca         111      113.0  Visitante    113.0
1        Buducnost VOLI Podgorica          78       97.0  Visitante     97.0
2         Aris Midea Thessaloniki          66       86.0  Visitante     86.0
3                    London Lions          85       92.0  Visitante     92.0
4  Mincidelice JL Bourg en Bresse          64       68.0  Visitante     68.0

   plusminus
0       -2.0
1      -19.0
2      -20.0
3       -7.0
4       -4.0
(170, 9)

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [93]:
#Your sample ecteams code here: 
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
139,2023-10-24T20:30:00,4,London Lions,Paris Basketball,102,106.0,Visitante,106.0,-4.0

In [94]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
141,Euroleague,Regular Season,16,2023-12-22,20:15:00,ALBA Berlin,Fenerbahce Beko Istanbul,82,91,"['DIFALLAH, MEHDI', 'FOUFIS, IOANNIS', 'BALAK,...",-9,Fenerbahce Beko Istanbul,Visitante

What are the inconsistencies that you are seeing? Write them down!

- Lo primero es que las columnas no son iguales: competicion, phase, (dia y hora) fecha, arbitros
- La EL esta en mayusculas mientras EC es todo en minusculas
- Winner en EC nos dice si es Local o Visitante mientras en EL dice el equipo
- Plusminus esta en float y en int respectivamente
- En ganador esta cambiado tambien en EL dice si es local o visitante,en EC dice la puntuacion mas alta de los 2 scores

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [95]:
#Your Code here: 
ecteams['competition'] = 'Eurocup'
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,competition
138,2023-10-25T18:00:00,4,7bet-Lietkabelis Panevezys,Dolomiti Energia Trento,92,93.0,Visitante,93.0,-1.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [96]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop(columns='Ganador', inplace=True)

In [97]:
#Rename the column with the actual information to "Ganador"
ecteams['Ganador'] = np.where(ecteams['localscore'] > ecteams['roadscore'], 'local', 'visitante')

In [98]:
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus,competition,Ganador
149,2023-10-18T18:00:00,3,Prometey Slobozhanske,London Lions,87,99.0,Visitante,-12.0,Eurocup,visitante

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [99]:
# Your code here: 
ecteams.columns = ecteams.columns.str.capitalize()
ecteams.sample()

,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Winner,Plusminus,Competition,Ganador
27,2024-01-17T18:30:00,15,Cedevita Olimpija Ljubljana,Umana Reyer Venice,93,104.0,Visitante,-11.0,Eurocup,visitante

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [100]:
# Your code here: 
comp_el = elteams[['Competition','Localscore','Roadscore','Plusminus','Ganador']]
comp_ec = ecteams[['Competition','Localscore','Roadscore','Plusminus','Ganador']]

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [101]:
# Your code here: 
competition = pd.concat([comp_ec, comp_el])
competition.sample(20)

    Competition  Localscore  Roadscore  Plusminus    Ganador
66      Eurocup         100       70.0       30.0      local
95      Eurocup          71       75.0       -4.0  visitante
4    Euroleague          91       74.0       17.0      Local
213  Euroleague          85       70.0       15.0      Local
60   Euroleague          85       99.0      -14.0  Visitante
151  Euroleague          67       94.0      -27.0  Visitante
127  Euroleague          74       70.0        4.0      Local
209  Euroleague          82       64.0       18.0      Local
114     Eurocup          76       87.0      -11.0  visitante
3    Euroleague          80       68.0       12.0      Local
123     Eurocup          90       98.0       -8.0  visitante
215  Euroleague          84       57.0       27.0      Local
137     Eurocup          89       74.0       15.0      local
139  Euroleague          80       85.0       -5.0  Visitante
157  Euroleague          90       77.0       13.0      Local
56   Euroleague          93       90.0        3.0      Local
81      Eurocup          95       84.0       11.0      local
43      Eurocup          93       71.0       22.0      local
137  Euroleague          91       75.0       16.0      Local
25   Euroleague          87       76.0       11.0      Local

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [102]:
# 1 - How many matches have been in each competition?
matches_ec = len(comp_ec['Ganador'])
matches_el = len(comp_el['Ganador'])
suma= matches_el + matches_ec
print(f'Han jugado {matches_ec} partidos en la Eurocopa \nSe han jugado {matches_el} en la Euroliga \n{suma} partidos jugados en total')

Han jugado 170 partidos en la Eurocopa
Se han jugado 225 en la Euroliga
395 partidos jugados en total

In [103]:
# 2 - What are the maximum points that a local team has scored per competition? And the road team as well.
max_score_local_ec = ecteams['Localscore'].max()
max_score_visitante_ec = ecteams['Roadscore'].max()
max_score_local_el = elteams['Localscore'].max()
max_score_visitante_el = elteams['Roadscore'].max()
print(f'Max score local EC: {max_score_local_ec}\nMax score road EC: {max_score_visitante_ec}')
print(f'Max score local EL: {max_score_local_el}\nMax score road EL: {max_score_visitante_el}')

Max score local EC: 120
Max score road EC: 114.0
Max score local EL: 130
Max score road EL: 126

In [104]:
# 3 - Do the same operations with the average points (per competition)
# 3 - Do the same operations with the average points (per competition)
avg_score_local_ec = ecteams['Localscore'].mean()
avg_score_visitante_ec = ecteams['Roadscore'].mean()
avg_score_local_el = elteams['Localscore'].mean()
avg_score_visitante_el = elteams['Roadscore'].mean()

avg_score_local_ec_rounded = round(avg_score_local_ec, 2)
avg_score_visitante_ec_rounded = round(avg_score_visitante_ec, 2)
avg_score_local_el_rounded = round(avg_score_local_el, 2)
avg_score_visitante_el_rounded = round(avg_score_visitante_el, 2)

print(f'Average score local EC: {avg_score_local_ec_rounded}\nAverage score road EC: {avg_score_visitante_ec_rounded}')
print(f'Average score local EL: {avg_score_local_el_rounded}\nAverage score road EL: {avg_score_visitante_el_rounded}')

Average score local EC: 85.24
Average score road EC: 83.96
Average score local EL: 83.28
Average score road EL: 79.17

In [105]:
# 4
ecteams['Absolute Plusminus'] = np.where(ecteams['Plusminus'] < 0, -ecteams['Plusminus'], ecteams['Plusminus'])
ecteams.head()
# tengo que hacer esto para EC y para EL y

,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Winner,Plusminus,Competition,Ganador,Absolute Plusminus
0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0,Eurocup,visitante,2.0
1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0,Eurocup,visitante,19.0
2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0,Eurocup,visitante,20.0
3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0,Eurocup,visitante,7.0
4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0,Eurocup,visitante,4.0

In [110]:
ecteams['Absolute Plusminus'] = np.where(ecteams['Plusminus'] < 0, -ecteams['Plusminus'], ecteams['Plusminus'])
elteams['Absolute Plusminus'] = np.where(elteams['Plusminus'] < 0, -elteams['Plusminus'], elteams['Plusminus'])
dif_plus_el = elteams['Absolute Plusminus'].max() - elteams['Absolute Plusminus'].min()
dif_plus_ec = ecteams['Absolute Plusminus'].max() - ecteams['Absolute Plusminus'].min()
print(f'la mayor diferencia de plus minus en la Euro Liga fue: {dif_plus_el}')
print(f'la mayor diferencia de plus minus en la Euro Copa fue: {dif_plus_ec}')

la mayor diferencia de plus minus en la Euro Liga fue: 38
la mayor diferencia de plus minus en la Euro Copa fue: 38.0

In [122]:
# 5. Also grouped by competition, give me the number of victories of the Locals and the Visitors
ganados_el = elteams['Ganador'].value_counts()
print(f'En la Euro Liga ha sido {ganados_el}')

En la Euro Liga ha sido Ganador
Local        150
Visitante     75
Name: count, dtype: int64

In [123]:
ganados_ec = ecteams['Ganador'].value_counts()
print(f'En la Euro Copa ha sido {ganados_ec}')

En la Euro Copa ha sido Ganador
local        90
visitante    80
Name: count, dtype: int64