## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [62]:
sample_list_1 = random.sample(range(101), k=80)
# Your code here
print(sample_list_1)

[39, 0, 5, 81, 82, 7, 67, 36, 65, 3, 99, 62, 8, 4, 60, 79, 27, 31, 30, 55, 14, 56, 50, 51, 20, 2, 93, 96, 58, 33, 45, 49, 9, 28, 73, 72, 83, 59, 76, 91, 53, 85, 87, 74, 15, 88, 46, 16, 12, 38, 44, 54, 86, 10, 90, 78, 57, 1, 84, 97, 19, 63, 98, 69, 48, 35, 11, 42, 47, 43, 61, 40, 26, 68, 95, 89, 94, 70, 41, 75]

In [63]:
# Como puedo comprobar si los numeros de una lista son enteros
lista_num = set()
for i in sample_list_1:
    if isinstance(i, int): # isinstance sirve para comprobar si una variable es un data type especifico
        lista_num.add(i) # isinstance(variable, datatype) output: true or false

print("Conjunto de números enteros:", lista_num)

Conjunto de números enteros: {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 19, 20, 26, 27, 28, 30, 31, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
# Gets the count of the unique values 
sit1 = set(sample_list_1)
print(len(sit1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [65]:
sample_list_2 = [random.randint(0, 100) for i in range(80)]
print(len(sample_list_2))
print("sample_list_2:", sample_list_2)

80
sample_list_2: [95, 43, 62, 28, 73, 79, 100, 6, 34, 58, 76, 16, 50, 59, 81, 42, 99, 75, 9, 93, 55, 92, 44, 57, 87, 50, 73, 15, 66, 53, 9, 66, 33, 53, 91, 40, 65, 91, 30, 85, 9, 42, 88, 91, 73, 65, 66, 88, 34, 13, 9, 45, 78, 91, 93, 82, 36, 22, 44, 23, 21, 70, 43, 2, 7, 21, 98, 5, 72, 40, 95, 60, 56, 4, 43, 18, 89, 38, 26, 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [66]:
# Your code here
set2 = set(sample_list_2)
print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [67]:
# Your code here
set3 = set()
num_unique =  []
for i in sit1:
    if i in set2:
        num_unique.append(i)
    else:
        set3.add(i)
        
print(set3)
print(num_unique)
num_unique = set(num_unique)
print(num_unique)
print(type(num_unique))

{0, 1, 3, 8, 10, 11, 12, 14, 19, 20, 27, 31, 35, 39, 41, 46, 47, 48, 49, 51, 54, 61, 63, 67, 68, 69, 74, 83, 84, 86, 90, 94, 96, 97}
[2, 4, 5, 7, 9, 15, 16, 26, 28, 30, 33, 36, 38, 40, 42, 43, 44, 45, 50, 53, 55, 56, 57, 58, 59, 60, 62, 65, 70, 72, 73, 75, 76, 78, 79, 81, 82, 85, 87, 88, 89, 91, 93, 95, 98, 99]
{2, 4, 5, 7, 9, 15, 16, 26, 28, 30, 33, 36, 38, 40, 42, 43, 44, 45, 50, 53, 55, 56, 57, 58, 59, 60, 62, 65, 70, 72, 73, 75, 76, 78, 79, 81, 82, 85, 87, 88, 89, 91, 93, 95, 98, 99}
<class 'set'>

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here
num_r = set()
set4 = set()
for i in set2:
    if i in sit1:
        num_r.add(i)
    else: 
        set4.add(i)
    
print(set4)
print(num_r)

{34, 66, 100, 6, 13, 18, 21, 22, 23, 92}
{2, 4, 5, 7, 9, 15, 16, 26, 28, 30, 33, 36, 38, 40, 42, 43, 44, 45, 50, 53, 55, 56, 57, 58, 59, 60, 62, 65, 70, 72, 73, 75, 76, 78, 79, 81, 82, 85, 87, 88, 89, 91, 93, 95, 98, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [69]:
# Your code here
set5 = set(num_unique)
print(set5)

{2, 4, 5, 7, 9, 15, 16, 26, 28, 30, 33, 36, 38, 40, 42, 43, 44, 45, 50, 53, 55, 56, 57, 58, 59, 60, 62, 65, 70, 72, 73, 75, 76, 78, 79, 81, 82, 85, 87, 88, 89, 91, 93, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [70]:
# Your code here
print(len(sit1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(sit1) == len(set3) + len(set5))
print(len(set3) == len(sit1) - len(set2))
print(len(set4) == len(set2) - len(set5))
print(len(sit1) == len(set2) + len(set4))
print(len(set3) <= len(sit1))
print(len(set5) <= len(sit1))

80
56
34
10
46
True
False
True
False
True
True

#### Create an empty set called `set6`.

In [71]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [72]:
# Your code here
set6.update(set3)
set6.update(set6)

#### Check if `set1` and `set6` are equal.

In [73]:
# Your code here
sit1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [74]:
# Your code here
print(sit1.issubset(set2))
print(sit1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [75]:
# Your code here
set7 = sit1.union(set3, set4, set5)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [76]:
# your code here
primer = sit1.pop()
print(f"Se a 'popeado' el numero {primer}")

Se a 'popeado' el numero 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove.sort()
sit1 = sit1 - set(list_to_remove)
print(f"Esta es la lista de numeros tras limpiarla: {sit1}")

None
Esta es la lista de numeros tras limpiarla: {2, 3, 4, 5, 7, 8, 10, 12, 14, 15, 16, 20, 26, 27, 28, 30, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 67, 68, 70, 72, 73, 74, 75, 76, 78, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}